@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  /* biome-ignore lint/complexity/noImportantStyles: required to override scroll-lock compensation styles. */
  margin-right: 0px !important;
  /* biome-ignore lint/complexity/noImportantStyles: required to override scroll-lock compensation styles. */
  --removed-body-scroll-bar-size: 0px !important;
}
